<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Продукты</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} : {{ product.price.roubles }} рублей

                <form action="/?action=add_to_cart" method="post">
                    <input name="product_id" type="hidden" value="{{ product.id }}">
                    <input type="submit" value="ADD">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/?action=cart">Корзина</a>
</div>
</body>
</html>
